.CurrentWeather h1{
	padding-top: 7%;
}

.CurrentWeather .list,
.CurrentWeather .status_weather > h4{
	padding: 0;
	margin: 0;
}

.CurrentWeather .current_day {
	width: 80%;
	margin: 0 auto;
}

.CurrentWeather .pictures_weather{
	position: relative;
	margin: 0;
}

.CurrentWeather .dergees{
	font-size: 60px;
}

.CurrentWeather .padding_block_top{
	padding-top: 3%;
	align-items: flex-end;
}

.CurrentWeather .header1,
.CurrentWeather .header3, 
.CurrentWeather .image_icon{
	color: var(--color-text);
	text-shadow: 2px 1px 4px rgb(30, 30, 31);
}

.CurrentWeather #icon{
	width: 50%;
}

.DateTime .last_updated{
	text-shadow: var(--shadow-text);
}