.Form form{
	padding: 2% 0;
	color: #e0e0e0 !important;
}

.Form div .button_input,
.Form div .form_input {
	border-radius: 15px;
	opacity: 93%;
}

.Form div .button_input{
	color: #e0e0e0 !important;
	transition: all 0.5s;
}

.Form div .button_input:hover{
	color: #333333 !important;
	background-color: #fff9 !important;
}

.Form .button_input{
	background-color: #696969 !important;
	border-color: #696969 !important;
}